<div class="wrapper-right">
    <div class="right-top">
        <div class="social_contact-box">
            <p class="title">关注我</p>
            <ul class="social-contact">
                <li class="rss"><a href="" title="订阅本站到RSS"><i class="fa fa-rss"></i></a></li>
                <li class="github"><a href="https://github.com/Doooris" title="移步我的github"><i class="fa fa-github"></i></a></li>
                <li class="weibo"><a href="http://weibo.com/2731473063/profile" title="移步到我的微博"><i class="fa fa-weibo"></i></a></li>
                <li class="weixin">
                    <a href="" title="">
                        <i class="fa fa-weixin"></i>
                        <div class="code-area">
                            <div class="code-triangle"></div>
                            <div class="code-box">
                                <img src="http://7pn4yj.com1.z0.glb.clouddn.com/erweima.jpg" alt="">
                                关注Doris微信公众平台
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="author_intro-box">
            <div class="author-pic">
                <img src="/images/mycolor.jpg" alt="doris' picture">
            </div>
            <div class="author-info">
                <p>14届东华大学毕业生,曾就职于华润万家.热爱阅读,烹饪,健身,编程.</p>
                <i class="fa fa-envelope">hxpt2031@gmail.com</i>
            </div>
        </div>
    </div>
    <div class="article-guide">
        <div class="category">
            <p class="title2">文章分类</p>
            <ul id="categoryList" class="clearfix">
                <% for(var i = 0; i < arry_category.length; i++){ %>
                <% if(i < size ) { %>
                <li class="categoryList-a"><a href="/article/category?category=<%= arry_category[i] %>" ><%= arry_category[i] %></a><span class="num">(<%= category_count[i] %>)</span></li>
                <% } %>
                <% } %>
            </ul>

        </div>
        <div class="latest">
            <p class="title2">最近文章</p>
            <ul class="latest-list">
                <% for(var i = 0; i < 10; i++){ %>
                <% if(i < size ) { %>
                <li><i class="fa fa-caret-right"></i>
                    <a href="/article/details?articleTitle=<%= content[i].title %>&articleId=<%= content[i]._id %>" ><%= content[i].title %>
                        <span class="ds-thread-count" data-thread-key="<%= content[i]._id %>" data-count-type="comments"></span>
                    </a>
                </li>
                <% } %>
                <% } %>
            </ul>
        </div>
        <!--<div class="hottest">-->
            <!--<p class="title2">最热文章</p>-->
        <!--</div>-->
        <div class="label-box">
            <p class="title2">标签</p>
            <ul id="tagsList">
                <% for(var i = 0; i < arry_tags.length; i++){ %>
                <% if(i < size ) { %>
                <li class="tagsList-a"><a href="/article/tags?tag=<%= arry_tags[i] %>" ><%= arry_tags[i] %></a></li>
                <% } %>
                <% } %>
            </ul>
        </div>
    </div>
</div>